/* desktop */
@media (min-width: 1024px) {
    .grid{        display: grid;
        grid-template-areas: 
        "headindex"
        "mainindex"
        "footerindex";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}
    

body{
    margin: 0;
    padding: 0;
    background-color: #2D2724;
}
header{
    display: flex ;
    height: 130px;
    background-color: #2D2724;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    


}


 .inicio {text-decoration: none; color: #C1EB8B; font-size: 20px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
padding: 4px 4px 4px;}
header .inicio :hover{font-size: 20px; color: #8BC740;}
header .productos :hover{font-size: 20px; color: #8BC740;}
header .contacto :hover{font-size: 20px; color: #8BC740;}


.mainindex {
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;

}

.iframevideo{position: absolute; left: 240px;
    top: 1220px}
.mapa{position: absolute; left: 230px;
    top: 1615px;}
.portada2{display: flex; position: absolute; left: 67px; top: 236px;}
.portada2{grid-area: portada2;}
.inicio {left: 632px;}
.productos {left: 756px;}
.contacto {left: 880px;}
main div input{position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 16px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    top: 1016px; left: 668px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.cardbut :hover {background-color: #8BC740;
}

.textocard{position: absolute;
    font-size: 10px; color: #2B2A2A; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 778px; left: 533px;
}
.container {
    position: absolute;
width: 593px;
height: 312px;
left: 223px;
top: 768px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.fotocard {display: flex;
    position: absolute;
width: 312px;
height: 312px;
left: 223px;
top: 768px;
}


.footerindex{position: relative;
    display: flex;
    height: 130px;
    top: 2000px;
    background-color: #2B2A2A;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
}


}

@media (min-width: 1024px) {
    .gridcontacto{        display:grid;
        grid-template-areas: 
        "headercontacto"
        "maincontacto"
        "footercontacto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}

    .heardercontacto {
        display: flex;
        height: 130px;
        background-color: #2D2724;
        justify-content: space-between;
        align-items: center;
        padding: 10px;



    }

    a {text-decoration: none; color: #C1EB8B; font-size: 20px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
        padding: 4px 4px 4px;}

    .footercontacto{
        position: relative; 
        top: 750px;
        display: flex;
        height: 130px;
        background-color: #2B2A2A;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
    }
    .maincontacto {display: flex;
    justify-content: center;
    align-items: center;
 } 
    .Nombre {position: absolute;
        width: 753px;
        height: 34px;
        left: 124px;
        top: 218px; border-radius: 13px;}
    
    .Apellido {position: absolute;
            width: 753px;
            height: 34px;
            left: 124px;
            top: 298px; border-radius: 13px;}
    
    .Email {position: absolute;
                width: 753px;
                height: 34px;
                left: 124px;
                top: 378px; border-radius: 13px;}
    
    .Comentarios {position: absolute;
                    width: 753px;
                    height: 179px;
                    left: 124px;
                    top: 458px; border-radius: 13px;}
    
    .b1 {position: absolute;
        width: 120px;
        height: 40px;
        left: 555px;
        top: 711px; border: 2px solid #C1EB8B;
        border-radius: 20px; background-color: #2D2724; color: #C1EB8B;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
    
    .b2  {position: absolute;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        width: 120px;
        height: 40px;
        left: 757px;
        top: 711px; background: #C1EB8B;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}    
    
    .name {position: absolute;
        width: 129px;
        height: 25px;
        left: 129px;
        top: 181px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
   
        .last {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 263px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
   
        .mail {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 343px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

        .comentary {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 423px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
     
    .mainproducto {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .mainproducto a {
        justify-content: space-between;
        padding-top: 100px;
    }

    .container1 {
        position: absolute;
width: 845px;
height: 348px;
left: 250px;
top: 200px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container2 {position: absolute;
        width: 845px;
height: 348px;
left: 250px;
top: 600px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container3 {
        position: absolute;
        width: 845px;
height: 348px;
left: 250px;
top: 1000px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container4 {
        position: absolute;
                width: 845px;
height: 348px;
left: 250px;
top: 1400px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;


    }
main .cardbut2 {
        position: absolute;
width: 120px;
height: 40px;
left: 900px;
top: 500px;
font-weight: bold;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

background: #C1EB8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    }

    main .cardbut3 {
        position: absolute;
width: 120px;
height: 40px;
left: 900px;
top: 900px;
font-weight: bold;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #C1EB8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    }
    main .cardbut4 {
        position: absolute;
width: 120px;
height: 40px;
left: 900px;
top: 1300px;
font-weight: bold;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #C1EB8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    }            
    main .cardbut5 {
        position: absolute;
width: 120px;
height: 40px;
left: 900px;
top: 1700px;
font-weight: bold;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #C1EB8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    }    

    .footerproducto {    position: relative; 
        top: 1800px;
        display: flex;
        height: 130px;
        background-color: #2B2A2A;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;




    }
    .textproduct {
        position: absolute;
        color: #2B2A2A;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 210px;
        left: 800px;
    }
    .textproduct2 {
        position: absolute;
        color: #2B2A2A;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 610px;
        left: 800px;
    }
    .textproduct3 {
        position: absolute;
        color: #2B2A2A;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 1010px;
        left: 800px;
    }
    .textproduct4 {
        position: absolute;
        color: #2B2A2A;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 1410px;
        left: 800px;
    }
    .herrefoto {
        position: absolute;
        top: 200px;
        left: 250px;
    }
    .muefoto {
        position: absolute;
        left: 250px;
        top: 600px;

    }
    .portfoto {
        position: absolute;
        top: 1000px;
        left: 250px;
    }
    .pyvfoto {
        position: absolute;
        left: 250px;
        top: 1400px;
    }
}
@media (min-width: 1024px) {
    .herreria {
        display: grid;
        grid-template-areas: 
        "herreriaheader"
        "mainherreria"
        "footerherr";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .footerherr{position: relative;
        display: flex;
        height: 130px;
        top: 1400px;
        background-color: #2B2A2A;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
    }
    .mainherreria {
        display: grid;
        align-items: stretch;
        justify-content: space-around;
        flex-direction: row column;
    
    }
    .card1{position: absolute;
        font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 450px; left: 67px;}
    .card2{position: absolute;
        font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 450px; left: 379px;}
     .card3{position: absolute;
        font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 450px; left: 691px;}
     .card4{position: absolute;
        font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         top: 890px; left: 67px;}
     .card5{position: absolute;
         font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         top: 890px; left: 691px;}
     .card6{position: absolute;
         font-size: 24px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         top: 890px; left: 379px;}
     .contenedor {
        position: absolute;
width: 265px;
height: 348px;
left: 67px;
top: 507px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor {
        position: absolute;
width: 265px;
height: 348px;
left: 67px;
top: 507px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor2 {
        position: absolute;
width: 265px;
height: 348px;
left: 379px;
top: 507px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor3 {
        position: absolute;
width: 265px;
height: 348px;
left: 67px;
top: 943px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor4 {
        position: absolute;
width: 265px;
height: 348px;
left: 379px;
top: 943px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor5 {
        position: absolute;
width: 265px;
height: 348px;
left: 691px;
top: 943px;

background: #D9D9D9;
border-radius: 8px;
     }
     .contenedor6 {position: absolute;
        width: 265px;
        height: 348px;
        left: 691px;
        top: 507px;
        
        background: #D9D9D9;
        border-radius: 8px;}
    .imgcard {
        position: absolute;
width: 265px;
height: 265px;
left: 67px;
top: 507px;
    } 
    .imgcard2 {
        position: absolute;
width: 265px;
height: 265px;
left: 379px;
top: 509px;

    }   
    .imgcard3 {
        position: absolute;
width: 265px;
height: 264px;
left: 691px;
top: 509px;
    }   
    .imgcard4 {
        position: absolute;
width: 265px;
height: 264px;
left: 67px;
top: 943px;

    }   
    .imgcard5 {
        position: absolute;
width: 265px;
height: 265px;
left: 379px;
top: 943px;
    }   
    .imgcard6 {
        position: absolute;
width: 265px;
height: 265px;
left: 691px;
top: 943px;
    }     
    .p1 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
width: 232px;
height: 28px;
left: 80px;
top: 807px
    }
    .p2 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
width: 232px;
height: 28px;
left: 392px;
top: 807px;
    }
    .p3 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
width: 232px;
height: 28px;
left: 704px;
top: 807px;
    }
    .p4 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
width: 232px;
height: 28px;
left: 80px;
top: 1240px;
    }
    .p5 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
width: 232px;
height: 28px;
left: 392px;
top: 1240px;

    }
    .p6 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
width: 232px;
height: 28px;
left: 704px;
top: 1240px;
    }
    .descripcion1 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 80px;
        top: 750px;
         }
    .descripcion2 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 392px;
        top: 750px; }
    .descripcion3 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 704px;
        top: 750px;}
    .descripcion4 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 80px;
        top: 1183px;
        }
    .descripcion5 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 392px;
        top: 1183px; }
    .descripcion6 {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        width: 232px;
        height: 28px;
        left: 704px;
        top: 1183px;}

}



/* mobile */

@media (max-width: 768px) {
    .grid{ 
        display:grid;
        grid-template-areas: 
        "headindex"
        "mainindex"
        "footerindex";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}

body {
    margin: 0;
    padding: 0;
    background-color: #2D2724;
}

header {
    display: flex;
    justify-content: space-between;
    height: 145px;
    align-items: center;
    padding: 10px;

}
.logo {display: flex;
    position: absolute;
width: 56px;
height: 53px;
left: 180px;
top: 6px;
}

a {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
    padding: 4px 4px 4px; left: 75px;}

.mainindex{
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}
.container {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 407px;
background-color: #d9d9d9;
border-radius: 8px;
}
.fotocard {display: flex;
    position: absolute;
width: 169px;
height: 167px;
left: 20px;
top: 407px;
}

main div input{position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 200px;
top: 530px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.textocard{position: absolute;
    font-size: 9px; color: #2B2A2A; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 190px;
top: 425px;;
}
.portada2{display: flex; flex-direction: row;
    position: absolute;
    width: 298px;
height: 140px;
left: 15px;
top: 255px;}
.portada2 {grid-area: portada2;}

.iframevideo{display: flex; left: auto;
    top: 590px; left: 25px; position: absolute; width: 167px; height: 300px;}
.mapa{left: 25px;
    top: 767px; position: absolute; width: fit-content; height: fit-content;}

.footerindex{
    position: relative; 
    top: 850px;
    display: flex;
    height: 130px;
    background-color: #2B2A2A;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 12px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
}
.rrss {
    font-size: 12px;
}



}

/* mobile */

@media (max-width: 768px) {
    .gridcontacto{
        display: grid;
        grid-template-areas: 
        "headercontacto"
        "maincontacto"
        "footercontacto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto  }

a {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
    padding: 4px 4px 4px; left: 75px;}
        

        .Nombre {position: absolute;
            width: 236px;
            height: 28px;
            left: 75px;
            top: 318px; border-radius: 13px;}
        
        .Apellido {position: absolute;
                width: 236px;
                height: 28px;
                left: 75px;
                top: 398px; border-radius: 13px;}
        
        .Email {position: absolute;
                    width:236px;
                    height: 28px;
                    left: 75px;
                    top: 478px; border-radius: 13px;}
        
        .Comentarios {position: absolute;
                        width: 236px;
                        height: 98px;
                        left: 75px;
                        top: 558px; border-radius: 13px;}
        
        .b1 {position: absolute;
            width: 120px;
            height: 40px;
            left: 120px;
            top: 780px; border: 2px solid #C1EB8B;
            border-radius: 20px; background-color: #2D2724; color: #C1EB8B;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
        
        .b2  {position: absolute;
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            width: 120px;
            height: 40px;
            left: 120px;
            top: 700px; background: #C1EB8B;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}    
        
        .name {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 281px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
       
            .last {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 363px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
       
            .mail {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 443px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    
            .comentary {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 523px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
           
            .footercontacto{
                position: relative; 
                top: 750px;
                display: flex;
                height: 130px;
                background-color: #2B2A2A;
                justify-content: space-around;
                align-items: center;
                padding: 15px;
                font-size: 14px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
            }
         

            .logocontacto {display: flex;
                position: absolute;
            width: 56px;
            height: 53px;
            left: 180px;
            top: 6px;
            }
  

    


}

@media (max-width: 768px) {
    .gridproducto{
        display: grid;
        grid-template-areas: 
        "headercontacto"
        "mainproducto"
        "footerproducto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto  }

     .productos {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
            padding: 4px 4px 4px; left: 75px;}
            .logoproductos {display: flex;
                position: absolute;
            width: 56px;
            height: 53px;
            left: 180px;
            top: 6px;
            }
  .mainproducto {
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
  }    
  .container1 {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 300px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.container2 {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 500px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.container3 {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 700px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.container4 {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 900px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.herrefoto {display: flex;
    position: absolute;
    width: 319px;
    height: 167px;
    left: 20px;
    top: 300px;
}
.muefoto {display: flex;
    position: absolute;
    width: 319px;
    height: 167px;
    left: 20px;
    top: 500px;
}
.portfoto {display: flex;
    position: absolute;
    width: 319px;
    height: 167px;
    left: 20px;
    top: 700px;
}
.pyvfoto {display: flex;
    position: absolute;
    width: 319px;
    height: 167px;
    left: 20px;
    top: 900px;
}
.textproduct {position: absolute;
    font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 220px;
    top: 310px;
    color: #2B2A2A;
}
.textproduct2 {position: absolute;
    font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 220px;
    top: 510px;
    color: #2B2A2A;
}
.textproduct3 {position: absolute;
    font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 220px;
    top: 710px;
    color: #2B2A2A;
}
.textproduct4 {position: absolute;
    font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 200px;
    top: 910px;
    color: #2B2A2A;
}
.cardbut2{position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 13px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 220px;
top: 400px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.cardbut3{position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 13px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 220px;
top: 600px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.cardbut4{position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 13px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 220px;
top: 800px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.cardbut5{position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 13px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 220px;
top: 1000px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


.footerproducto{
    position: relative; 
    top: 1150px;
    display: flex;
    height: 130px;
    background-color: #2B2A2A;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 14px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
}
.facebook {display: flex;
    flex-direction: row;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 240px;
}
.instagram {display: flex;
    flex-direction: row;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 280px;
}
.whatsapp {display: flex;
    flex-direction: row;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 320px;
}
.rrss {display: flex;
    flex-direction: row;
    position: absolute;
    left: 80px;
    font-size: 10px;
}
.logofooter {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 20px;
}
.productos {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
    padding: 4px 4px 4px; left: 75px;
}


        
 
}

@media (max-width: 768px) {
    .herreria {
        display: grid;
        grid-template-areas: 
        "mainherreria"
        "herreiraheader"
        "footerherr";
    }
    body {
        margin: 0;
        padding: 0;
        background-color: #2D2724;
    }
    header {
        display: flex;
        justify-content: space-between;
        height: 145px;
        align-items: center;
        padding: 10px;
    
    }
    a {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
        padding: 4px 4px 4px; left: 75px;}
        .mainherreria{
            display: grid;
            align-items: stretch;
            justify-content: space-around;
            flex-direction: column;
        }  
        .footerherr{
            position: relative; 
            top: 1600px;
            display: flex;
            height: 130px;
            background-color: #2B2A2A;
            justify-content: space-around;
            align-items: center;
            padding: 15px;
            font-size: 14px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
        }
        .contenedor {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 300px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .contenedor2 {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 500px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .contenedor3 {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 700px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .contenedor4 {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 900px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .contenedor5 {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 1100px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .contenedor6 {display: flex;
            flex-direction: column;
            position: absolute;
        width: 319px;
        height: 167px;
        left: 20px;
        top: 1300px;
        background-color: #d9d9d9;
        border-radius: 8px;
        }
        .imgcard {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 300px;
        }
        .imgcard2 {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 500px;
        }
        .imgcard3 {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 700px;
        }
        .imgcard4 {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 900px;
        }
        .imgcard5 {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 1100px;
        }
        .imgcard6 {display: flex;
            position: absolute;
        width: 169px;
        height: 167px;
        left: 20px;
        top: 1300px;
        }
        .p1 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 420px;
        }
        .p2 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 620px;
        }
        .p3 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 820px;
        }
        .p4 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 1020px;
        }
        .p5 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 1220px;
        }
        .p6 {
            position: absolute;
            font-size: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 230px;
            top: 1420px;
        }
        .descripcion1 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 1300px;
        }
        .descripcion2 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 300px;
        }
        .descripcion3 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 500px;
        }
        .descripcion4 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 700px;
        }
        .descripcion5 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 900px;
        }
        .descripcion6 {
            position: absolute;
            font-size: 20;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: #2D2724;
            left: 200px;
            top: 1100px;
        }
        .card1 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 1270px;
        }
        .card2 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 270px;
        }
        .card3 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 1070px;
        }
        .card4 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 470px;
        }
        .card5 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 670px;
        }
        .card6 {
            position: absolute;
            font-size: 20px;
            color: #C1EB8B;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            left: 20px;
            top: 870px;
        }


}







