/* desktop */
@media (min-width: 1024px) {
    .grid{        display: grid;
        grid-template-areas: 
        "headindex"
        "mainindex"
        "footerindex";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}
    

body{
    margin: 0;
    padding: 0;
    background-color: #2D2724;
}
header{
    display: flex ;
    height: 130px;
    background-color: #2D2724;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    


}


 a {text-decoration: none; color: #C1EB8B; font-size: 20px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
padding: 4px 4px 4px;}
header .inicio :hover{font-size: 20px; color: #8BC740;}
header .productos :hover{font-size: 20px; color: #8BC740;}
header .contacto :hover{font-size: 20px; color: #8BC740;}


.mainindex {
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;

}

.iframevideo{position: absolute; left: 240px;
    top: 1220px}
.mapa{position: absolute; left: 230px;
    top: 1615px;}
.portada2{display: flex; position: absolute; left: 67px; top: 236px;}
.portada2{grid-area: portada2;}
.inicio {left: 632px;}
.productos {left: 756px;}
.contacto {left: 880px;}
main div input{position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 16px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    top: 1016px; left: 668px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.textocard{position: absolute;
    font-size: 15px; color: #2B2A2A; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 778px; left: 553px;
}
.container {
    position: absolute;
width: 593px;
height: 312px;
left: 223px;
top: 768px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}
.fotocard {display: flex;
    position: absolute;
width: 312px;
height: 312px;
left: 223px;
top: 768px;
}


.footerindex{position: relative;
    display: flex;
    height: 130px;
    top: 2000px;
    background-color: #2B2A2A;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
}


}

@media (min-width: 1024px) {
    .gridcontacto{        display:grid;
        grid-template-areas: 
        "headercontacto"
        "maincontacto"
        "footercontacto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}

    .heardercontacto {
        display: flex;
        height: 130px;
        background-color: #2D2724;
        justify-content: space-between;
        align-items: center;
        padding: 10px;



    }

    .footercontacto{
        position: relative; 
        top: 750px;
        display: flex;
        height: 130px;
        background-color: #2B2A2A;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        font-size: 20px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
    }
    .maincontacto {display: flex;
    justify-content: center;
    align-items: center;
 } 
    .Nombre {position: absolute;
        width: 753px;
        height: 34px;
        left: 124px;
        top: 218px; border-radius: 13px;}
    
    .Apellido {position: absolute;
            width: 753px;
            height: 34px;
            left: 124px;
            top: 298px; border-radius: 13px;}
    
    .Email {position: absolute;
                width: 753px;
                height: 34px;
                left: 124px;
                top: 378px; border-radius: 13px;}
    
    .Comentarios {position: absolute;
                    width: 753px;
                    height: 179px;
                    left: 124px;
                    top: 458px; border-radius: 13px;}
    
    .b1 {position: absolute;
        width: 120px;
        height: 40px;
        left: 555px;
        top: 711px; border: 2px solid #C1EB8B;
        border-radius: 20px; background-color: #2D2724; color: #C1EB8B;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
    
    .b2  {position: absolute;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        width: 120px;
        height: 40px;
        left: 757px;
        top: 711px; background: #C1EB8B;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}    
    
    .name {position: absolute;
        width: 129px;
        height: 25px;
        left: 129px;
        top: 181px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
   
        .last {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 263px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
   
        .mail {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 343px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

        .comentary {position: absolute;
        width: 129px;
        height: 25px;
        left: 127px;
        top: 423px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
     
    .mainproducto {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .mainproducto a {
        justify-content: space-between;
        padding-top: 100px;
    }

    .container1 {
        position: absolute;
width: 845px;
height: 348px;
left: 250px;
top: 200px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container2 {position: absolute;
        width: 845px;
height: 348px;
left: 250px;
top: 600px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container3 {
        position: absolute;
        width: 845px;
height: 348px;
left: 250px;
top: 1000px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
    }
    .container4 {
        position: absolute;
                width: 845px;
height: 348px;
left: 250px;
top: 1400px;
background-color: #d9d9d9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;


    }
    .cardbut2 {
        position: absolute;
width: 120px;
height: 40px;
left: 900px;
top: 400px;

background: #C1EB8B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
    }
    
}



/* mobile */

@media (max-width: 768px) {
    .grid{ 
        display:grid;
        grid-template-areas: 
        "headindex"
        "mainindex"
        "footerindex";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}

body {
    margin: 0;
    padding: 0;
    background-color: #2D2724;
}

header {
    display: flex;
    justify-content: space-between;
    height: 145px;
    align-items: center;
    padding: 10px;

}
.logo {display: flex;
    position: absolute;
width: 56px;
height: 53px;
left: 75px;
top: 6px;
}

a {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
    padding: 4px 4px 4px; left: 75px;}

.mainindex{
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}
.container {display: flex;
    flex-direction: column;
    position: absolute;
width: 319px;
height: 167px;
left: 20px;
top: 307px;
background-color: #d9d9d9;
border-radius: 8px;
}
.fotocard {display: flex;
    position: absolute;
width: 169px;
height: 167px;
left: 20px;
top: 307px;
}

main div input{position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: #C1EB8B; font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;
    left: 200px;
top: 430px;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.textocard{position: absolute;
    font-size: 9px; color: #2B2A2A; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 200px;
top: 325px;;
}
.portada2{display: flex; flex-direction: row;
    position: absolute;
    width: 298px;
height: 140px;
left: 15px;
top: 155px;}
.portada2 {grid-area: portada2;}

.iframevideo{display: flex; left: auto;
    top: 490px; left: 20px; position: absolute; width: 115px; height: 225px;}
.mapa{left: 20px;
    top: 667px; position: absolute; width: fit-content; height: fit-content;}

.footerindex{
    position: relative; 
    top: 750px;
    display: flex;
    height: 130px;
    background-color: #2B2A2A;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 14px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
}



}

/* mobile */

@media (max-width: 768px) {
    .gridcontacto{
        display: grid;
        grid-template-areas: 
        "headercontacto"
        "maincontacto"
        "footercontacto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto  }

a {flex-direction: row; position: relative; text-decoration: none; color: #C1EB8B; font-size: 18px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;
    padding: 4px 4px 4px; left: 75px;}
        

        .Nombre {position: absolute;
            width: 236px;
            height: 28px;
            left: 75px;
            top: 218px; border-radius: 13px;}
        
        .Apellido {position: absolute;
                width: 236px;
                height: 28px;
                left: 75px;
                top: 298px; border-radius: 13px;}
        
        .Email {position: absolute;
                    width:236px;
                    height: 28px;
                    left: 75px;
                    top: 378px; border-radius: 13px;}
        
        .Comentarios {position: absolute;
                        width: 236px;
                        height: 98px;
                        left: 75px;
                        top: 458px; border-radius: 13px;}
        
        .b1 {position: absolute;
            width: 120px;
            height: 40px;
            left: 75px;
            top: 711px; border: 2px solid #C1EB8B;
            border-radius: 20px; background-color: #2D2724; color: #C1EB8B;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
        
        .b2  {position: absolute;
            font-size: 16px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            width: 120px;
            height: 40px;
            left: 240px;
            top: 711px; background: #C1EB8B;
            border-radius: 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}    
        
        .name {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 181px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
       
            .last {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 263px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
       
            .mail {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 343px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    
            .comentary {position: absolute;
            width: 129px;
            height: 25px;
            left: 75px;
            top: 423px; color: #C1EB8B; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
           
            .footercontacto{
                position: relative; 
                top: 750px;
                display: flex;
                height: 130px;
                background-color: #2B2A2A;
                justify-content: space-around;
                align-items: center;
                padding: 15px;
                font-size: 14px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #C1EB8B;
            }
         

            .logocontacto {display: flex;
                position: absolute;
            width: 56px;
            height: 53px;
            left: 75px;
            top: 6px;
            }
  

    


}

@media (max-width: 768px) {
    .gridproducto{
        display: grid;
        grid-template-areas: 
        "headercontacto"
        "maincontacto"
        "footercontacto";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto  }
 
}

.logoproducto {display: flex;
    position: absolute;
width: 56px;
height: 53px;
left: 75px;
top: 6px;


}





